<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <span class="brand-text">E-Store</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <form class="d-flex mx-auto search-form">
          <div class="input-group">
            <input class="form-control search-input" type="search" placeholder="Search for products..." aria-label="Search">
            <button class="btn search-btn" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>

        <ul class="navbar-nav ms-auto nav-links">
          <li class="nav-item"> 
            <a class="nav-link" routerLink="home" routerLinkActive="active">
              <i class="bi bi-house-heart"></i>
              <span>Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="product" routerLinkActive="active">
              <i class="bi bi-bag-heart"></i>
              <span>Product</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive="active">
              <i class="bi bi-person-heart"></i>
              <span>Login</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cart-link" routerLink="/cart">
              <i class="bi bi-cart3"></i>
              <span class="cart-count" *ngIf="count() > 0">{{count()}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>
  
  <main class="container-fluid">
    <router-outlet></router-outlet>
  </main>