<div class="contain">
  
  <div class="products-container">
    <div class="card" *ngFor="let product of products">
      <img class="card-img-top" src="{{product.thumbnail}}" alt="{{product.title}}">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.description}}</p>
        <h5 class="card-title">{{product.price | currency:'INR'}}</h5>
        <a href="#" class="btn btn-primary">Buy Now</a>
        <a href="#" class="btn btn-danger">Add to Cart</a>
      </div>
    </div>
  </div>
  
</div>