<div class="container my-3">
  <div class="btn-container d-flex justify-content-center align-items-center w-50 mx-auto gap-3 py-3">
    <button class="btn btn-primary" (click)="toggleCategory('men\'s clothing')">Men</button>
    <button class="btn btn-primary" (click)="toggleCategory('women\'s clothing')">Women</button>
    <button class="btn btn-primary" (click)="toggleCategory('jewelery')">Acessories</button>
    <button class="btn btn-primary" (click)="toggleCategory('electronics')">Electronics</button>
  </div>
  <div class="products-container">
    <div class="card" *ngFor="let product of products">
      <img class="card-img-top" src="{{product.image}}" alt="{{product.title}}">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.description}}</p>
        <h5 class="card-title">{{product.price | currency:'INR'}}</h5>
        <button class="btn btn-primary" (click)="buyNow(product)">Buy Now</button>
        <button class="btn btn-danger" (click)="addToCart(product)">Add to Cart</button>
      </div>
    </div>
  </div>
</div>